/* Object Board */

.chip:not(.c-object) .footer {
  opacity: 0;
  height: .5rem;
}

.chip:not(.c-object) .header .port.p-object {
  display: none;
}

/* Event Definition */

.chip.c-event-definition {
  background-color: #515460;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chip.c-event-definition .header {
  border-radius: .625rem;
}

.chip.c-event-definition .footer {
  display: none;
}

.chip.c-event-definition .ports {
  width: calc(100% - 2rem);
  background-color: #7c7983;
  border-radius: .3125rem;
  margin: 0 1rem;
  gap: 0;
  padding: .5rem 0;
  margin-bottom: 1rem;
}

.chip.c-event-definition .ports .section .output {
  display: none;
}

.chip.c-event-definition .ports .section .input .port-container .name {
  font-size: .75rem;
  line-height: .75rem;
  padding-left: 2rem;
}

.chip.c-event-definition .ports .section .input .port-container .port {
  --size: .6rem;
  min-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  height: var(--size);
  clip-path: none;
  left: 1rem !important;
  padding: 0;
  transform: none;
}

.chip.c-event-definition .ports .section .input .port-container .port:not(.list) p {
  display: none;
}

.chip.c-event-definition .ports .section .input .port-container .port.list p {
  height: 100%;
  width: 100%;
}

/* Event Receiver */

.chip.c-event-receiver {
  display: flex;
  flex-direction: row;
}

.chip.c-event-receiver .header {
  border-radius: .625rem 0 0 .625rem;
  display: flex;
  align-items: start;
}

.chip.c-event-receiver .ports {
  gap: 0;
  padding: 1rem 0;
}

.chip.c-event-receiver .ports .section .input {
  display: none;
}

.chip.c-event-receiver .ports .section {
  justify-content: end;
}

/* Event Sender */

.chip.c-event-sender {
  display: flex;
  flex-direction: row-reverse;
}

.chip.c-event-sender .header {
  border-radius: 0;
  display: flex;
  align-items: start;
}

.chip.c-event-sender .footer {
  order: -1;
  opacity: 1;
  width: 2rem;
  background: transparent;
  position: relative;
}

.chip:not(.c-event-sender) .footer .port.p-exec {
  display: none;
}

.chip.c-event-sender .footer .port {
  top: 1rem;
  position: absolute;
}

.chip.c-event-sender .ports {
  gap: 0;
  padding: .8rem 0 1rem 0;
}

.chip.c-event-sender .ports .section .output {
  display: none;
}

.chip.c-event-sender .ports .section {
  justify-content: start;
}

/* Empty */

.chip.c-empty .header, .chip.c-empty .footer {
  opacity: 0;
  height: 1rem;
  padding: 0;
}

.chip.c-empty .ports .section {
  gap: 2.25rem;
}

.chip.c-empty .header .title, .chip.c-empty .ports .section .port-container .name {
  display: none;
}

.chip.c-empty .ports .section .port-container {
  height: 1rem;
}

.chip.c-empty .ports .section .output, .chip.c-empty .ports .section .input {
  gap: .5rem;
}

/* Variable */

.chip.c-variable {
  position: relative;
  padding: 1.125rem;
}

.chip.c-variable .header {
  border-radius: .3125rem;
  padding: 1rem .75rem;
}

.chip.c-variable .footer {
  display: none;
}

.chip.c-variable .ports {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
}

.chip.c-variable .ports .section .port-container .name {
  display: none;
}

.chip.c-variable .ports .section .port-container {
  height: 1rem;
}

.chip.c-variable .ports .section .output, .chip.c-variable .ports .section .input {
  gap: .5rem;
}

/* Board */

.chip.c-board .header {
  padding: 1.25rem 1rem;
}

.chip.c-board .footer {
  opacity: 1;
  height: 1rem;
}

.chip.c-board .ports {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

