/* Object Board */

.chip:not(.c-object) .footer {
  opacity: 0;
  height: .5rem;
}

.chip:not(.c-object) .header .port.p-object {
  display: none;
}

/* Event Definition */

.chip.c-event-definition {
  background-color: #515460;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chip.c-event-definition .header {
  border-radius: .625rem;
}

.chip.c-event-definition .footer {
  display: none;
}

.chip.c-event-definition .ports {
  width: calc(100% - 2rem);
  background-color: #7c7983;
  border-radius: .3125rem;
  margin: 0 1rem;
  gap: 0;
  padding: .5rem 0;
  margin-bottom: 1rem;
}

.chip.c-event-definition .ports .section .output {
  display: none;
}

.chip.c-event-definition .ports .section .input .port-container .name {
  font-size: .75rem;
  line-height: .75rem;
  padding-left: 2rem;
}

.chip.c-event-definition .ports .section .input .port-container .port {
  --size: .6rem;
  min-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  height: var(--size);
  clip-path: none;
  left: 1rem !important;
  padding: 0;
  transform: none;
}

.chip.c-event-definition .ports .section .input .port-container .port:not(.list) p {
  display: none;
}

.chip.c-event-definition .ports .section .input .port-container .port.list p {
  height: 100%;
  width: 100%;
}

