.chip {
  background-color: #7c7983;
  border-radius: .625rem;
  box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.25);
}

.chip .header {
  background-color: #515460;
  border-radius: .625rem .625rem 0 0;
  padding: .75rem 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip .footer {
  background-color: #515460;
  border-radius: 0 0 .625rem .625rem;
  height: 1rem;
}

.chip .header .title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0;
  text-align: center;
  font-size: .85rem;
}

.chip .ports {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.chip .ports .section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.chip .ports .section .input, .chip .ports .section .output {
  display: flex;
  flex-direction: column;
}

.chip .ports .section .output .port-container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.chip .ports .section .input .port-container {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.chip .ports .section .output .port-container .name, .chip .ports .section .input .port-container .name {
  color: white;
  margin: 0;
  font-size: .85rem;
  transform: translateY(-.1rem);
  line-height: 1rem;
  opacity: .75;
}

.chip .ports .section .output .port-container .name {
  padding: .2rem 1rem .2rem .5rem;
  text-align: right;
}

.chip .ports .section .input .port-container .name {
  padding: .2rem .5rem .2rem 1rem;
  text-align: left;
  white-space: nowrap;
}

.chip .ports .section .output .port-container .port, .chip .ports .section .input .port-container .port {
  position: absolute;
}

.chip .ports .section .output .port-container .port:not(.list) p, .chip .ports .section .input .port-container .port:not(.list) p {
  font-weight: 500;
  font-size: .75rem;
  color: white;
  margin: 0;
  background-color: #7c7983;
  line-height: .75rem;
  padding: .05rem .2rem .1rem .2rem;
  white-space: nowrap;
}

.chip .ports .section .output .port-container .port.list p, .chip .ports .section .input .port-container .port.list p {
  color: transparent;
  margin: 0;
  white-space: nowrap;
  height: .75rem;
  width: .75rem;
  user-select: none;
  pointer-events: none;
  text-indent: 100%;
  overflow: hidden;
}

