.port.p-exec {
  height: 1rem;
  width: 1.5rem;
  --cut: 50%;
  clip-path: polygon(0 0, calc(125% - var(--cut)) 0, 100% var(--cut), 100% calc(100% - var(--cut)), calc(125% - var(--cut)) 100%, 0 100%);
}

.port.p-player, .port.p-quaternion, .port.p-vector3, .port.p-float, .port.p-bool, .port.p-string, .port.p-object, .port.p-dictionary, .port.p-int, .port.p-color, .port.p-any {
  height: .75rem;
  min-width: 1rem;
}

