.port.p-exec {
  background-color: #ff7640;
}

.port.p-player, .port.p-quaternion, .port.p-vector3 {
  background-color: #ffc93f;
}

.port.p-float {
  background-color: #4e90ff;
}

.port.p-bool {
  background-color: #ff3b4b;
}

.port.p-string {
  background-color: #9d64ff;
}

.port.p-object, .port.p-dictionary {
  background-color: #f6c041;
}

.port.p-int {
  background-color: #64a768;
}

.port.p-color {
  background-color: #4f60de;
}

.port.p-any {
  background-color: #fffee8;
}

