.input .port.p-exec {
  left: -.75rem;
}

.output .port.p-exec, .footer .port.p-exec {
  right: -.75rem;
}

.input .port.p-exec p, .footer .port.p-exec p, .output .port:not(.list) p, .input .port.p-dictionary:not(.list) p, .input .port.p-object:not(.list) p, .input .port.p-any:not(.list) p {
  display: none;
}

.port.list p {
  background: url("../../assets/img/Circuit%20Icons/List.png") center / cover no-repeat;
}

.input .port.list {
  padding-right: .1rem;
  display: flex;
  justify-content: end;
}

.output .port.list {
  padding-left: .1rem;
  display: flex;
  justify-content: start;
}

.input .port:not(.list).p-player, .input .port:not(.list).p-float, .input .port:not(.list).p-bool, .input .port:not(.list).p-string, .input .port:not(.list).p-int, .input .port:not(.list).p-quaternion, .input .port:not(.list).p-vector3, .input .port:not(.list).p-color {
  height: 1.125rem;
  right: 100%;
  transform-origin: center right;
  transform: translateX(.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .1rem 1.35rem .1rem .1rem;
  clip-path: polygon( 100% 15%, 100% 85%, calc(100% - 1rem) 85%, calc(100% - 1rem) 70%, calc(100% - 1.25rem) 70%, calc(100% - 1.25rem) 100%, 0 100%, 0 0, calc(100% - 1.25rem) 0, calc(100% - 1.25rem) 30%, calc(100% - 1rem) 30%, calc(100% - 1rem) 15%);
}

.output .port.p-player, .output .port.p-float, .output .port.p-bool, .output .port.p-string, .output .port.p-object, .output .port.p-int, .output .port.p-dictionary, .output .port.p-quaternion, .output .port.p-vector3, .output .port.p-color, .output .port.p-any {
  right: -.5rem;
}

.input .port.p-dictionary, .input .port.p-object, .input .port.p-bool.list, .input .port.p-float.list, .input .port.p-int.list, .input .port.p-quaternion.list, .input .port.p-string.list, .input .port.p-vector3.list, .input .port.p-player.list, .input .port.p-color.list, .input .port.p-any.list, .input .port.p-any {
  left: -.5rem;
}

.header .port.p-object {
  position: absolute;
  right: -.125rem;
  transform: translateY(.125rem);
}

