.viewer {
  display: flex;
  height: 100vh;
  --toolbar-height: 4rem;
}

.viewer .render {
  height: calc(100vh - var(--toolbar-height));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer .toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--toolbar-height);
  width: 100vw;
  background-color: var(--bs-tertiary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer .toolbar select {
  width: 10rem;
}

