.recroom-login-modal .modal-body p {
  margin: 0;
  font-family: 'Roboto';
}

/* STATE 0 */

.recroom-login-modal .modal-body #recroomLoginState0 > p {
  margin-bottom: 1rem;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div > p {
  font-size: 1.25rem;
  margin-bottom: .2rem;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div > .rr-text-input {
  width: 100%;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div > .rr-btn {
  height: 2.5rem;
  gap: 0.25rem;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div > .rr-btn > span {
  font-size: 1rem;
  margin-bottom: -.1rem;
}

.recroom-login-modal .modal-body #recroomLoginState0 > div > .rr-btn > svg {
  font-size: 2rem;
}

/* STATE 1 */

.recroom-login-modal .modal-body #recroomLoginState1 > p {
  margin-bottom: 1rem;
}

.recroom-login-modal .modal-body #recroomLoginState1 > div {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.recroom-login-modal .modal-body #recroomLoginState1 > div > .rr-text-input {
  width: 100%;
}

.recroom-login-modal .modal-body #recroomLoginState1 > div > .rr-btn {
  height: 2.5rem;
  gap: 0.25rem;
}

.recroom-login-modal .modal-body #recroomLoginState1 > div > .rr-btn > span {
  font-size: 1rem;
  margin-bottom: -.1rem;
}

.recroom-login-modal .modal-body #recroomLoginState1 > div > .rr-btn > svg {
  font-size: 2rem;
}

/* STATE 2 */

.recroom-login-modal .modal-body #recroomLoginState2 > p {
  margin-bottom: 0;
}

