.sidebar-left-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .25rem;
  background-color: var(--rr-color-bg-tertiary);
  border-top: var(--rr-border-width) solid var(--rr-color-outline);
  z-index: 9999999;
}

.sidebar-left-nav .rr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem 1.5rem;
}

.sidebar-left-nav .rr-btn > svg {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

.sidebar-left-nav .rr-btn > span {
  font-size: .6rem;
  line-height: 0.5rem;
  opacity: .75;
}

