.palette {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

.palette .head {
  background-color: var(--rr-color-bg-tertiary);
  border-bottom: var(--rr-border-width) solid var(--rr-color-outline);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette .body {
  height: 100%;
  padding: 0 .5rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.palette .body::-webkit-scrollbar {
  display: none;
}

.palette .body .row {
  margin: 1rem 0;
}

.palette .body .row .col {
  padding: .5rem;
}

.palette .body .row .col > div {
  transition: .2s;
  padding: 0;
  border: var(--rr-border-width) solid var(--rr-color-outline);
  border-radius: calc(var(--rr-border-radius) * 2);
  padding: .5rem;
  background-color: var(--rr-color-bg-tertiary);
}

.palette .body .row .col > div:hover {
  cursor: pointer;
  background-color: var(--rr-color-bg-secondary);
}

.palette .body .row .col#paletteChipTemplate > div {
  cursor: wait;
  opacity: .75;
}

.palette .body .row .col#paletteChipTemplate > div > div {
  cursor: wait;
  opacity: .75;
}

.palette .body .row .col#paletteChipTemplate > div p {
  display: inline-block;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: .125;
  border-radius: var(--rr-border-radius);
}

.palette .body .row .col > div > .chip-render-preview {
  background-color: var(--rr-color-outline);
  border-radius: var(--rr-border-radius);
  aspect-ratio: 16/9;
  overflow: hidden;
}

.palette .body .row .col > div > p {
  margin: .5rem 0 .125rem 0;
  font-family: 'Roboto';
  font-size: .9rem;
  font-weight: 500;
  line-height: .9rem;
  color: var(--rr-color-text-secondary);
}

.palette .body .row .col > div {
  position: relative;
}

.palette .body .row .col > div > .buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .25rem;
  position: absolute;
  width: calc(100% - 1rem);
  padding: .125rem;
  z-index: 999999999;
}

.palette .body .row .col > div > .buttons .rr-btn {
  padding: .125rem;
  aspect-ratio: 1/1;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette .body .row .col > div > .buttons .rr-btn > * {
  font-size: .75rem;
}

